html, body {
  height: 100%;
  width: 100%;
  font-family: "Lato", Verdana, "Verdana Ref", sans-serif;
}

h2 {
  text-align: center;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.row {
  padding-top: 75px;
  padding-bottom: 25px;
}

.img-responsive {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 25px;
}

#main, #main .map.row, .row.map .map, #map {
  height: 100%;
}

select {
  margin-bottom: 25px;
}

.leaflet-popup-content {
  font-family: "Lato", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
}

.leaflet-popup-content .popup-left {
  width: 175px;
  float: left;
}

.leaflet-popup-content .popup-right {
  width: 100px;
  margin: 0 auto;
  text-align: left;
  float: right;
}

div.marker-title {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

.leaflet-popup-content p {
  font-size: 14px;
  line-height: 16px;
  padding: 5px;
  margin-bottom: 0;
}

span.twitter-typeahead {
  width: 100%;
}

input.typeahead {
  width: 100%;
}

.search-container {
  width: 100%;
}

.searchAndClear {
  height: 34px;
  width: 34px;
  border-radius: 4px;
  border-width: 1px;
  background-color: #f9f9f9;
  padding: 0;
}

.tt-menu {
  width: 100%;
  background-color: white;
  border: 1px solid #9a9b9f;
}

.tt-suggestion {
  background-color: white;
  width: 100%;
  padding: 5px;
}

.tt-cursor {
  background-color: #dcedf4;
}

.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:20%;
  text-align:center;
  font-size:9px;
  color:#808080;
}

.td-right {
  text-align: center;
}

.detail .row {
  padding-top: 0px;
  padding-bottom: 0px;
}

.detail .title {
  padding-top: 75px;
}

/* Make sure that articles past the first don't have large padding at top */
.article ~ .article {
  padding-top: 0px;
}

#bottom-div {
  padding-bottom: 30px;
}

.star {
  height: 20px;
  width: 20px;
  /*padding: 10px;*/
}

@media (max-width:991px) and (min-width:768px) {
  /* Make sure Summary of detail page doesn't run into chart on medium size */
  .col-sm-6 ~ .col-sm-6 {
      padding-left: 35px;
  }
}

@media (max-width:767px) {
  .img-responsive {
    margin-bottom: 0;
  }
}
