html, body {
  height: 100%;
  width: 100%;
  font-family: "Lato", Verdana, "Verdana Ref", sans-serif;
}

h2 {
  text-align: center;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.row {
  padding-top: 75px;
  padding-bottom: 25px;
}

.img-responsive {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 25px;
}

#main, #main .map.row, .row.map .map, #map {
  height: 100%;
}

select {
  margin-bottom: 25px;
}

.leaflet-popup-content {
  font-family: "Lato", Verdana, "Verdana Ref", sans-serif;
  font-size: 14px;
}

.leaflet-popup-content ul {
  -webkit-padding-start: 1em;
  -mozilla-padding-start: 1em;
}

.leaflet-popup-content .popup-left {
  float: left;
}

.leaflet-popup-content .popup-right {
  min-width: 171px;
  margin: 0 auto;
  text-align: left;
  float: right;
}

div.marker-title {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.leaflet-popup-content p {
  font-size: 14px;
  line-height: 16px;
  padding: 5px;
  margin-bottom: 0;
}

.fac_geo_overall {
  font-size: 18px;
}

.fac_geo_overall .rating_number {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin-left: 5px;
  padding: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  border: solid 2px #808080;
  text-align: center;
  color: #ffffff;
}

.fac_geo_overall .rating_number.rating-1 {
  background: #d7191c;
}

.fac_geo_overall .rating_number.rating-2 {
  background: #fdae61;
}

.fac_geo_overall .rating_number.rating-3 {
  background: #ffffbf;
  color: #404033;
}

.fac_geo_overall .rating_number.rating-4 {
  background: #a6d96a;
}

.fac_geo_overall .rating_number.rating-5 {
  background: #1a9641;
}

.fac_geo_breakdown {
  font-size: 14px;
}

.popup-field {
  text-align: right;
  margin-right: 3px;
}

.popup-stars {
  text-align: left;
}

span.twitter-typeahead {
  width: 100%;
}

input.typeahead {
  width: 100%;
}

.search-container {
  width: 100%;
}

.searchAndClear {
  height: 34px;
  width: 34px;
  border-radius: 4px;
  border-width: 1px;
  background-color: #f9f9f9;
  padding: 0;
}

.tt-menu {
  width: 100%;
  background-color: white;
  border: 1px solid #9a9b9f;
}

.tt-suggestion {
  background-color: white;
  width: 100%;
  padding: 5px;
}

.tt-cursor {
  background-color: #dcedf4;
}

.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:20%;
  text-align:center;
  font-size:9px;
  color:#808080;
}

.td-right {
  text-align: center;
}

.detail .row {
  padding-top: 0px;
  padding-bottom: 0px;
}

.detail .title {
  padding-top: 75px;
}

table.description {
  margin-top: 10px;
}

table.description, table.description tbody tr {
  width: 100%;
  border: 10px solid transparent;
}

table.description tbody tr td:first-of-type {
  font-weight: bold;
}

.list-data div {
  margin-bottom: 25px;
}
.list-data div p span {
  font-weight: bold;
}

/* Make sure that articles past the first don't have large padding at top */
.article ~ .article {
  padding-top: 0px;
}

#bottom-div {
  padding-bottom: 30px;
}

.star {
  height: 20px;
  width: 20px;
  /*padding: 10px;*/
}

@media (max-width:991px) and (min-width:768px) {
  /* Make sure Summary of detail page doesn't run into chart on medium size */
  .col-sm-6 ~ .col-sm-6 {
      padding-left: 35px;
  }
}

@media (max-width:767px) {
  .img-responsive {
    margin-bottom: 0;
  }
}
