<head>
  <meta charset='utf-8' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta content="{{ site.description }}" name='description' />
  <meta content='{{ site.title }}' name='author' />
  <!-- Facebook metadata -->
  <meta content="{{ site.title }}" property="og:site_name">
  <meta content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" property="og:title">
  <meta content="website" property="og:type">
  <meta content="{{ site.description }}" property="og:description">
  <meta content="{{ site.url }}" property="og:url">
  <meta content="{{ "/img/logo.png" | prepend: site.baseurl | prepend: site.url }}" property="og:image">
  <!-- Twitter metadata -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.title }}">
  <meta name="twitter:creator" content="{{ site.title }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta name="twitter:url" content="{{ site.url }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image:src" content="{{ "/img/logo.png" | prepend: site.baseurl | prepend: site.url }}">

  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/build/build.min.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/css/print.css" | prepend: site.baseurl }}" media="print">
  <!-- Google Tag Manager -->
  <noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TQPSF2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TQPSF2');
  </script>
  <!-- End Google Tag Manager -->
  <!-- Font Awesome -->
  <script src="https://use.fontawesome.com/d70ddbbdd8.js"></script>
</head>
